[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.hutoma.ai/simple"
verify_ssl = false
name = "hu_pypi"

[packages]
dill = {version="*", index="pypi"}
nltk = {version="*", index="pypi"}
numpy = {version="*", index="pypi"}
scipy = {version="*", index="pypi"}
spacy = {version="*", index="pypi"}
sklearn = {version="*", index="pypi"}
pyyaml = {version="*", index="pypi"}
matplotlib = {version="*", index="pypi"}
# internal libraries
hu_logging = {version="*", index="hu_pypi"}
hu_utils = {version="*", index="hu_pypi"}
hu_training = {version="*", index="hu_pypi"}
embedding = {editable = true, path = "."}

[dev-packages]
colorama = {version="*", index="pypi"}
pytest = {version="*", index="pypi"}
pytest-aiohttp = {version="*", index="pypi"}
pytest-cov = {version="*", index="pypi"}
pytest-timeout = {version="*", index="pypi"}
flake8 = {version="*", index="pypi"}
yapf = {version="*", index="pypi"}
hu_build = {version="*", index="hu_pypi"}

[requires]
python_version = "3.6"
