dill==0.2.7.1
nltk==3.2.5
numpy==1.14.0
scipy==1.0.0
spacy==2.0.9
sklearn==0.0
pyyaml==3.12.0
matplotlib


# Add the local PYPI server
--trusted-host dev-web.hutoma.com
--extra-index-url http://dev-web.hutoma.com:8088

# add dependencies
hu_logging==0.3.24
hu_utils==0.3.25
hu_training==0.3.30
