-r requirements.txt

-r requirements_code_style.txt

# Add the local PYPI server
--trusted-host dev-web.hutoma.com
--extra-index-url http://dev-web.hutoma.com:8088

# add dependencies
hu_build==0.3.29
